@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  background: #000;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app-container {
  background-color: white;
  width: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app {
  padding: 10px;
  background-color: whitesmoke;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
  display: flex;
  flex-direction: column;
  -webkit-flex-flow: column; /* doesn't work without prefix */
  flex-flow: column;
}

/* Page Content Container CSS */

.page-content-container {
  min-height: 0; /* without min-height/height:0 flex:1 doesn't work */
  flex: 1;
  padding: 5px;
  position: relative;
}

.page-content {
  min-height: 0; /* without min-height/height:0 flex:1 doesn't work */
  height: 100%;
  overflow-y: scroll;
}

.page-content::-webkit-scrollbar {
  width: 10px;
  background-color: transparent; /* or add it to the track */
  padding: 10px;
  margin: 10px;
}

/* Add a thumb */
.page-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: solid 6px rgba(43, 48, 53, 1);
  background: #000;
}

.page-content .bg-image {
  position: absolute;
  height: 100%;
  left: -200px;
  z-index: 1;
  width: 800px;
  display: flex;
  align-items: center;
}

.page-content .bg-image img {
  width: 500px;
  height: 500px;
  transform-origin: 50% 50% !important;
  transform: rotate(0deg) !important;
  transition: all 1s ease-in-out;
}

.page-content .bg-image img:hover {
  transform: rotate(180deg) !important;
  transition: all 1s ease-in-out;
}

/* App Navbar styles start */
.app-navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
}

.content {
  display: inline-block;
  position: relative;
  flex: 1;
}

.content h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  vertical-align: center;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* App Navbar styles end */

/* About Page styles start */

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
}

.text_shadows {
  text-shadow: 2px 2px 0 var(--color-secondary), 4px 4px 0 var(--color-tertiary),
    6px 6px var(--color-quaternary);
  font-family: bungee, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  15% {
    text-shadow: 2px 2px 0 var(--color-secondary);
  }
  30% {
    text-shadow: 2px 2px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary);
  }
  40% {
    text-shadow: 2px 2px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
  }
  50% {
    text-shadow: 2px 2px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
  }
  60% {
    text-shadow: 2px 2px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary), 6px 6px var(--color-quaternary);
  }
  70% {
    text-shadow: 2px 2px 0 var(--color-secondary),
      4px 4px 0 var(--color-tertiary);
  }
  85% {
    text-shadow: 2px 2px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  50% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(-8px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em "tahoma";
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.scroll-down:hover {
  color: #20656d !important;
}
/* About Page styles end */
